.fa {
	margin-right: 6px;
	font-size: 90%;
}
._fa-reset {
	margin-right: 0;
}
._fa-full {
	font-size: 100%;
}
._fa-bigger {
	font-size: 120%;
}

._a-clear {
	color: inherit !important;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
		color: inherit !important;
		text-decoration: none !important;
	}
}

._a-main {
	color: $col_primary !important;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
		color: lighten($col_primary, 18%) !important;
		text-decoration: underline !important;
	}
}

._marginAuto {
	margin: auto !important;
}
._marginTop0 {
	@include marginSize(0px, t);
}
._marginTop6 {
	@include marginSize(6px, t);
}
._marginTop10 {
	@include marginSize(10px, t);
}
._marginTop15 {
	@include marginSize(15px, t);
}
._marginRight0 {
	@include marginSize(0px, r);
}
._marginRight6 {
	@include marginSize(6px, r);
}
._marginBtm15 {
	@include marginSize(15px, b);
}
._marginBtm20 {
	@include marginSize(20px, b);
}

._text-ellipsis {
	white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

._text-break {
	word-break: break-all !important;
}

._small-text {
	font-size: 70%;
	line-height: 1.25;
}

._v-center-items {
	display: flex;
	align-items: center;
}

._uppercase {
	text-transform: uppercase;
}

._table-content-mid {
	td {
		vertical-align: middle !important;
	}
}

._label-med {
	font-size: 85% !important;
}

._label-full {
	font-size: 100% !important;
}