$font_size: 14px;

$col_bcg: #f1f1f1;
$col_bcg_light: #fff;
$col_primary: #374B67;
$col_primary_light: lighten($col_primary, 10%);
$col_secondary: #3A9AD9;
$col_third: #29ABA4;
$col_fourth: #EB7260;
$col_fifth: #E9E0D6;

$col_font: #333;
$col_font_light: lighten($col_font, 30%);
$font_size_value_bigger: 22px;