@import 'variables';
@import 'mixins';
@import 'helpers';

body {
	font-family: 'Lato', sans-serif !important;
	font-size: $font_size;
	background: $col_bcg;
	color: $col_font;
}

.sweet-alert {
	border-radius: 3px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.2);
	font-family: 'Lato', sans-serif !important;
	p {
		font-weight: 400 !important;
	}
	h2 {
		margin: 20px 0 15px 0;
		font-weight: 700;
	}
	.sa-confirm-button-container {
		button {
			background: rgba(55, 75, 103, 0.85) !important;
			border: 1px solid rgba(55, 75, 103, 1) !important;
			&:hover {
				background: rgba(55, 75, 103, 1) !important;
			}
		}
	}
}

.lobibox-notify-wrapper.bottom {
	bottom: 15px;
}

.btn.active, .btn:active {
	box-shadow: none;
}

.btn-default:focus {
	color: #333;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.btn-primary, .btn-primary:focus {
	color: #fff;
    background-color: $col_primary;
    border-color: darken($col_primary, 10%);
    &.active, &:active {
    	background-color: $col_third !important;
    	border-color: darken($col_third, 5%) !important;
    }
    &:hover {
   		background-color: lighten($col_primary, 10%);
    	border-color: $col_primary;
    }
}

._btn-group-block {
	.btn-group:first-child {
		button, form button {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.btn-group:last-child {
		button, form button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}


label.file-upload-main input[type="file"] {
	position: fixed;
    visibility: hidden;
}
.file-upload-main {
	margin: 8px 0;
	span {
		@include noSelect();
	    padding: 8px 12px;
	    background: #fff;
	    border-radius: 3px;
	    color: $col_font;
	    border: 1px solid #ccc;
	    cursor: pointer;
	    font-weight: 400;
	    font-size: 14px;
	    &:before {
	    	font-family: FontAwesome;
	    	content: "\f093";
	    	margin-right: 8px;
	    	color: $col_primary;
	    }
	    &:hover {
	    	background: #f5f5f5;
	    }
	    &:active {
	    	background: $col_third;
	    	color: #fff;
	    	border-color: darken($col_third, 10%);
	    	&:before {
	    		color: #fff;
	    	}
	    }
	}
}

._dropdown-smaller {
	box-shadow: 0 6px 12px rgba(0,0,0,0.075);
	&>li>a, form>li>a {
		padding: 3px 12px !important;
	    font-size: $font_size !important;
	    display: block;
	    color: $col_font;
	}
	&>li>a:focus, &>li>a:hover, form>li>a:focus, form>li>a:hover {
	    color: #FFFFFF;
	    text-decoration: none;
	    background-color: $col_secondary;
	}
	.divider {
		margin: 6px 0 !important;
	}
}

._dropdown-darker {
	background: lighten($col_third, 7%);
	box-shadow: 0 6px 12px rgba(0,0,0,0.075);
	.divider {
		background: rgba(0, 0, 0, 0.1) !important;
	}
	&>li>a, form>li>a {
		padding: 2px 12px !important;
		color: #fff !important;
	}
	&>li>a:focus, &>li>a:hover, form>li>a:focus, form>li>a:hover {
		color: #FFFFFF;
	    text-decoration: none;
	    background-color: $col_third;
	}
}

._panel-main {
	.panel-heading {
		background: lighten($col_primary, 8%);
		color: #EFF5FF;
	}
}
._panel-sec {
	.panel-heading {
		background: lighten($col_third, 7%);
		color: #F6FDFD;
	}
}
._panel-third {
	.panel-heading {
		background: lighten($col_fifth, 7%);
		color: #423F3B;
	}
}

._alert-main {
	background: lighten($col_primary, 8%);
	border: 1px solid $col_primary;
	color: #EFF5FF;
    .close {
    	color: #fff;
    }
}
._alert-sec {
	background: lighten($col_third, 7%);
	border: 1px solid $col_third;
	color: #F6FDFD;
    .close {
    	color: #000;
    }
}

._alert-sm {
	padding: 8px 10px;
    margin-bottom: 12px;
}
._alert-sm.alert-dismissible {
    padding-right: 35px;
}

._badge-main {
	background: $col_primary;
}

._loadingSpinner__holder {
	display: block;
	text-align: center;
	margin: 5px 0 15px 0;
	._loadingSpinner {
		font-size: 26px;
		display: block;
		margin: 0;
		margin-bottom: 2px;
		color: #3498db;
	}
	span {
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
	}
}

._content-card {
	background: #fff;
	padding: 15px 12px;
	box-shadow: 0 1px 2px rgba(0,0,0,.18);
	border-radius: 0px;
	border: none;
	._content__title {
		font-size: 19px;
	    margin: 2px 0 22px 0;
	    text-transform: uppercase;
	    position: relative;
	    &:after {
	    	content: "";
	    	position: absolute;
	    	left: -12px;
	    	top: -2px;
	    	bottom: -2px;
	    	border-left: 4px solid $col_third;
	    }
	}
}

._fade {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index: 999;
	display: none;
}

._navbar-main {
	margin-bottom: 30px;
	border: none;
	border-radius: 0;
	background: transparent;
	.container {
		background: $col_primary;
		position: relative;
		&:before, &:after {
			width: 0;
			height: 0;
			position: absolute;
			border-style: solid;
			left: -15px;
			top: 0;
			border-width: 0 15px 50px 0;
			border-color: transparent $col_primary transparent transparent;
			display: none;
		}
		&:after {
			left: auto;
			right: -15px;
			border-width: 50px 15px 0 0;
			border-color: $col_primary transparent transparent transparent;
		}
		@include breakpoint(desktop) {
			&:before, &:after {
				display: block;
			}
		}
		@include breakpoint(large_desktop) {
			&:before, &:after {
				display: block;
			}
		}
	}
	@include breakpoint(tablet) { 
		background: $col_primary;
	}
	.navbar-brand, .navbar-brand:focus {
		color: #fff;
		text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
		font-weight: 600;
		margin-right: 8px;
		transition: 0.12s ease-out;
	}
	.navbar-brand:hover {
		text-shadow: 0 0 4px rgba(255, 255, 255, 0);
		color: #fff;
	}
	.navbar-nav {
		&>li>a, &>li>a:focus {
			color: #fff;
			transition: 0.15s ease-out;
		}
		&>li>a:hover {
			color: #fff;
		}
		&>li:nth-child(2n+1)>a:hover {
			box-shadow: inset 0 -50px 0 $col_secondary;
		}
		&>li:nth-child(2n)>a:hover {
			box-shadow: inset 0 -50px 0 $col_fourth;
		}
		&>li.dropdown:not(.open)>a {
			background: $col_third !important;
			box-shadow: none !important;
		}
		&>li.dropdown>a:hover, &>.open>a {
			background: lighten($col_third, 7%) !important;
			color: #fff!important;
			box-shadow: none !important;
		}
		&>.active>a, &>.active>a:focus, &>.active>a:hover {
			color: #fff;
			font-weight: 600;
			background: inherit;
			box-shadow: none;
		}
	}
	.navbar-toggle {
		&, &:focus {
			border: none;
			background: none;
		} 
		&:hover {
			background: #1D70A7;
		}
		.icon-bar {
			background: #fff;
		}
	}
	.navbar-collapse, .navbar-form {
		border-color: #1D70A7;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.06);
	}
}

._wine-content-topbar {
	background: linear-gradient(top, #fff, #f5f5f5);
	background: -webkit-linear-gradient(top, #fff, #f5f5f5);
	padding: 6px 8px;
	margin-bottom: 12px;
	border: 1px solid #dadada;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
	._wc-topbar-left {
		@include breakpoint(phone) {
			& {
				margin-bottom: 6px;
			}
		}
		@include breakpoint(small_phone) {
			& {
				margin-bottom: 6px;
			}
		}
		span {
			text-transform: uppercase;
			font-weight: 600;
			font-size: $font_size;
			color: #888;
			line-height: $font_size;
			b {
				font-size: $font_size;
				background: #1ABC9C;
				padding: 1px 6px;
				color: #fff;
				border-radius: 3px;
			}
		}
	}
	._wc-topbar-right {}
	.form-control {
		height: 30px;
		padding: 4px 8px;
	}
	.input-group {
		/*max-width: 300px;*/
	}
	.form-group {
		margin-bottom: 0 !important;
	}
	.btn {
		padding: 4px 12px;
	}
	._paginationInfo {
		font-size: 11px;
		margin-right: 5px;
		b {
			font-weight: 600;
		}
	}
	.pagination {
		text-align: center;
		position: relative;
	    display: inline-block;
	    vertical-align: middle;
		margin: 0;
		border-radius: 2px;
		.active span {
			@extend .btn-primary;
		}
		li {
			display: none;
			&:nth-child(-n+2), &:nth-last-child(-n+2), &.active {
				display: inline;
			}
			a, span {
				padding: 4px 12px;
				color: #374B67;
			}
		}
	}
}

._wc-i-info-glob {
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #eee;
}
._wc-i-info-glob:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

._wine-content {
	width: 100%;
	._label-filter {
		font-size: 85%;
		background: $col_primary;
		color: #fff;
		font-weight: 400;
		float: left;
		border-radius: 10px;
		padding: 3px 8px;
		margin-right: 10px;
		margin-bottom: 6px;
		a {
			margin-left: 6px;
			color: lighten($col_third, 30%);
			font-size: 105%;
			&:hover {
				color: lighten($col_third, 50%);
			}
		}
	}
	._wc-search-results {
		@extend ._wine-content-topbar;
		margin-top: -10px;
		display: block;
		padding: 3px 8px;
		font-size: 15px;
		b {
			font-weight: 700;
		}
		.btn {
			font-size: 10px;
			text-transform: uppercase;
			margin-top: 1px;
			padding: 1px 5px;
		}
    }
	._wc-item {
		width: 31%;
		height: auto;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 18px;
		border-radius: 2px;
		@include breakpoint(desktop) {
			&, &:nth-child(4n), &:nth-child(3n) {
				width: 46%;
				margin-left: 2%;
				margin-right: 2%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include breakpoint(phone) {
			&, &:nth-child(4n), &:nth-child(3n) {
				width: 46%;
				margin-left: 2%;
				margin-right: 2%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include breakpoint(small_phone) {
			&, &:nth-child(4n), &:nth-child(3n) {
				width: 100%;
				margin-left: 0%;
				margin-right: 0%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		._wc-item-holder {
			background: #fff;
			box-shadow: 0 1px 1px rgba(0,0,0,0.08);
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:hover { /*transform: scale(1.08);*/ }
			._wc-i-top {
				background: $col_third;
				padding: 8px 9px;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;
				transition: 0.08s ease-out;
			}
			&:hover ._wc-i-top {
				background: #3498db;
			}
			._wc-i-top h2 {
				font-size: 16px;
				margin: 0;
				font-weight: 700;
				line-height: 20px;
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.35);
			}
			._wc-i-content {
				border: 1px solid #ddd;
				border-top: none;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				position: relative;
				._wc-main-info {
					margin-bottom: 6px;
					._wc-mi-block {
						width: 50%;
						padding: 6px 12px;
						padding-bottom: 6px;
						position: relative;
						transition: 0.08s ease-out;
						&:last-child:after {
							content: '';
							position: absolute;
							border-bottom: 1px solid #ddd;
							bottom: 0;
							left: -100%;
							right: 0px;
						}
						&:last-child {
							padding-right: 0;
							padding-left: 15px;
							&:before {
								content: '';
								border-left: 1px solid #ddd;
								position: absolute;
								top: 0px;
								bottom: 0;
								left: 0px;
							}
						}
						p {
							margin: 0;
							font-size: $font_size - 2;
							text-transform: uppercase;
							color: lighten($col_font, 20%);
							b {
								display: block;
								font-weight: 400;
								color: $col_font;
							}
						}
					}
				}
				._wc-i-info-holder {
					padding: 4px 0px;
					._wc-score-row {
						margin-bottom: 4px;
						._wc-score-box {
							padding-left: 8px;
							padding-right: 8px;
							text-align: center;
							& > div {
								padding: 6px 0;
								transition: 0.1s ease-out;
								border-radius: 2px;
								position: relative;
								._wc-score__value {
									font-size: $font_size_value_bigger;
									font-weight: 400;
									color: lighten($col_primary, 15%);
									transition: 0.08s ease-out;
									line-height: 1;
									margin-bottom: 3px;
									small {
										font-size: 80%;
									}
								}
								._wc-score__info {
									font-weight: 300;
									color: darken($col_font_light, 15%);
									transition: 0.11s ease-out;
									line-height: 1.2;
								}
							}
							&._wc-score-max {
								&>div {
									._wc-score__value {
										color: $col_primary;
										font-weight: 700;
									}
									._wc-score__info {
										color: $col_primary;
										font-weight: 400;
									}
								}
							}
						}
					}
					._wc-i-info {
						@extend ._wc-i-info-glob;
						&:last-child {
							@extend ._wc-i-info-glob:last-child;
						}
						._info-title, ._wc-i-info-glob ._info-title {
							font-weight: 600;
							color: #666;
							font-size: 90%;
							display: block;
							margin-bottom: 1px;
						}
					}
				}
				._info-expanded ._info-title {
					font-size: 100% !important;
				}
				._wc-i-info-holder ._wc-i-info ._info-value, ._wc-i-info-glob ._info-value { }
				._wc-i-actions {
					background: #f5f5f5;
					padding: 5px 7px;
				}
			}
			&:hover {
				._wc-main-info {
					background: lighten($col_bcg, 2%);
					p b {
						
					}
					._wine__w {
						background: none;
						box-shadow: inset 0px 0px 0px 2px $col_fifth;					
					}
					._wine__r {
						background: none;
						box-shadow: inset 0px 0px 0px 2px lighten($col_fourth, 20%);
					}
				}
				._wc-score-row {
					._wc-score__value {
						color: lighten($col_primary, 35%) !important;
					}
					._wc-score__info {
						color: $col_font_light;
					}
					._wc-score-max {
						._wc-score__value {
							color: $col_fourth !important;
							transform: scale(1.35);
							//margin-left: $font_size_value_bigger * 1.4 - $font_size_value_bigger/1.3;
						}
						._wc-score__info {
							color: $col_fourth !important;
							margin-bottom: 0;
							transform: scale(1.35);
							//margin-left: $font_size_value_bigger * 1.4 - $font_size_value_bigger/1.3;
						}
					}
					._wc-score-box {
						&:first-child._wc-score-max {
							._wc-score__value, ._wc-score__info {
								margin-left: $font_size_value_bigger * 0.1;
							}
						}
						&:last-child._wc-score-max {
							._wc-score__value, ._wc-score__info {
								margin-left: - $font_size_value_bigger * 0.1;
							}
						}
					}
				}
			}
		}
	}
	._wc-item-active {
		position: absolute;
	}
}

._a__filterable {
	&:before {
		font-family: FontAwesome;
		content: "\f0b0";
		font-size: 9px;
		line-height: 1;
		padding: 3px 4px;
		position: absolute;
		border-radius: 50%;
		background: $col_primary;
		color: #fff;
		top: -2px;
		right: -5px;
		z-index: 1;
		opacity: 0;
		transform: scale(0.5);
		transition: 0.12s ease-out;
	}
	&:hover {
		&:before {
			opacity: 1;
			transform: scale(1);
		}
	}
}

._wine__w, ._wine__r {
	clear: both;
	display: inline-block !important;
	position: relative;
	padding: 1px 5px;
	border-radius: 2px;
	transition: 0.08s ease-out;
}
._wine__w {
	background: $col_fifth;
}
._wine__r {
	background: lighten($col_fourth, 20%);
}

#uplAnalysisTbl__holder {
	table {
		thead {
			th {
				white-space: nowrap;
			}
		}
		tbody {
			tr {
				cursor: pointer;
				td {
					padding: 5px 8px;
				}
			}
		}
	}
}

#azureResultsModal {
	.modal-body {
		h4 {
			margin-bottom: 15px;
			padding: 6px 10px;
			background: lighten($col_fifth, 4%);
			float: left;
		}
		#chart__winePredictionResults {
			display: block;
			width: 100%;
			height: 250px;
		}
	}
}

.animated, .animated {
    -webkit-animation-duration: 0.8s !important;
    animation-duration: 0.8s !important;
}

._api-doc-title {
	cursor: pointer;
	padding: 5px 0;
	border-bottom: 1px solid $col_fifth;
	transition: 0.15s ease-out;
	&:hover {
		box-shadow: inset 0 -35px 0 lighten($col_fifth, 8%);
		padding-left: 5px;
	}
}