._login-row {
  background: #2980b9;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px; }

._login-holder {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto; }

._login-holder h1 {
  font-size: 28px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  color: #fff;
  float: left;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: 600; }

._login-holder h2 {
  color: #fff;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  float: right;
  vertical-align: bottom; }

._login-holder input {
  background: #125988;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  color: #fff !important;
  font-weight: 400; }

._login-holder input:-webkit-autofill, ._login-holder textarea:-webkit-autofill, ._login-holder select:-webkit-autofill {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #125988 inset; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color ease-in-out 0s; }

._login-holder ::-webkit-input-placeholder {
  color: white;
  font-size: 11px;
  padding-top: 2px;
  text-transform: uppercase; }

._login-holder :-moz-placeholder {
  color: white;
  font-weight: 400; }

._login-holder ::-moz-placeholder {
  color: white;
  font-weight: 400; }

._login-holder :-ms-input-placeholder {
  color: white;
  font-weight: 400; }

._login-holder button,
._login-holder button:focus {
  background: #3498DB;
  border-color: #2e6da4;
  font-weight: 600; }

._login-holder button:hover,
._login-holder button:active {
  background: #47A0DC !important;
  border-color: #2e6da4;
  box-shadow: none; }

/**
 * Breakpoints
 */
.fa {
  margin-right: 6px;
  font-size: 90%; }

._fa-reset {
  margin-right: 0; }

._fa-full {
  font-size: 100%; }

._fa-bigger {
  font-size: 120%; }

._a-clear {
  color: inherit !important;
  text-decoration: none !important; }
  ._a-clear:hover, ._a-clear:active, ._a-clear:focus {
    color: inherit !important;
    text-decoration: none !important; }

._a-main {
  color: #374B67 !important;
  text-decoration: none !important; }
  ._a-main:hover, ._a-main:active, ._a-main:focus {
    color: #5777a3 !important;
    text-decoration: underline !important; }

._marginAuto {
  margin: auto !important; }

._marginTop0 {
  margin-top: 0px !important; }

._marginTop6 {
  margin-top: 6px !important; }

._marginTop10 {
  margin-top: 10px !important; }

._marginTop15 {
  margin-top: 15px !important; }

._marginRight0 {
  margin-right: 0px !important; }

._marginRight6 {
  margin-right: 6px !important; }

._marginBtm15 {
  margin-bottom: 15px !important; }

._marginBtm20 {
  margin-bottom: 20px !important; }

._text-ellipsis {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

._text-break {
  word-break: break-all !important; }

._small-text {
  font-size: 70%;
  line-height: 1.25; }

._v-center-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

._uppercase {
  text-transform: uppercase; }

._table-content-mid td {
  vertical-align: middle !important; }

._label-med {
  font-size: 85% !important; }

._label-full {
  font-size: 100% !important; }

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  background: #f1f1f1;
  color: #333; }

.sweet-alert {
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Lato', sans-serif !important; }
  .sweet-alert p {
    font-weight: 400 !important; }
  .sweet-alert h2 {
    margin: 20px 0 15px 0;
    font-weight: 700; }
  .sweet-alert .sa-confirm-button-container button {
    background: rgba(55, 75, 103, 0.85) !important;
    border: 1px solid #374b67 !important; }
    .sweet-alert .sa-confirm-button-container button:hover {
      background: #374b67 !important; }

.lobibox-notify-wrapper.bottom {
  bottom: 15px; }

.btn.active, .btn:active {
  box-shadow: none; }

.btn-default:focus {
  color: #333;
  background-color: #fff !important;
  border-color: #ccc !important; }

.btn-primary, ._wine-content-topbar .pagination .active span, ._wine-content ._wc-search-results .pagination .active span, .btn-primary:focus, ._wine-content-topbar .pagination .active span:focus, ._wine-content ._wc-search-results .pagination .active span:focus {
  color: #fff;
  background-color: #374B67;
  border-color: #253346; }
  .btn-primary.active, ._wine-content-topbar .pagination .active span.active, ._wine-content ._wc-search-results .pagination .active span.active, .btn-primary:active, ._wine-content-topbar .pagination .active span:active, ._wine-content ._wc-search-results .pagination .active span:active, .btn-primary:focus.active, ._wine-content-topbar .pagination .active span:focus.active, ._wine-content ._wc-search-results .pagination .active span:focus.active, .btn-primary:focus:active, ._wine-content-topbar .pagination .active span:focus:active, ._wine-content ._wc-search-results .pagination .active span:focus:active {
    background-color: #29ABA4 !important;
    border-color: #249690 !important; }
  .btn-primary:hover, ._wine-content-topbar .pagination .active span:hover, ._wine-content ._wc-search-results .pagination .active span:hover, .btn-primary:focus:hover, ._wine-content-topbar .pagination .active span:focus:hover, ._wine-content ._wc-search-results .pagination .active span:focus:hover {
    background-color: #496388;
    border-color: #374B67; }

._btn-group-block .btn-group:first-child button, ._btn-group-block .btn-group:first-child form button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

._btn-group-block .btn-group:last-child button, ._btn-group-block .btn-group:last-child form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

label.file-upload-main input[type="file"] {
  position: fixed;
  visibility: hidden; }

.file-upload-main {
  margin: 8px 0; }
  .file-upload-main span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 12px;
    background: #fff;
    border-radius: 3px;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px; }
    .file-upload-main span:before {
      font-family: FontAwesome;
      content: "\f093";
      margin-right: 8px;
      color: #374B67; }
    .file-upload-main span:hover {
      background: #f5f5f5; }
    .file-upload-main span:active {
      background: #29ABA4;
      color: #fff;
      border-color: #1f827d; }
      .file-upload-main span:active:before {
        color: #fff; }

._dropdown-smaller {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.075); }
  ._dropdown-smaller > li > a, ._dropdown-smaller form > li > a {
    padding: 3px 12px !important;
    font-size: 14px !important;
    display: block;
    color: #333; }
  ._dropdown-smaller > li > a:focus, ._dropdown-smaller > li > a:hover, ._dropdown-smaller form > li > a:focus, ._dropdown-smaller form > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3A9AD9; }
  ._dropdown-smaller .divider {
    margin: 6px 0 !important; }

._dropdown-darker {
  background: #30c8c0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.075); }
  ._dropdown-darker .divider {
    background: rgba(0, 0, 0, 0.1) !important; }
  ._dropdown-darker > li > a, ._dropdown-darker form > li > a {
    padding: 2px 12px !important;
    color: #fff !important; }
  ._dropdown-darker > li > a:focus, ._dropdown-darker > li > a:hover, ._dropdown-darker form > li > a:focus, ._dropdown-darker form > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #29ABA4; }

._panel-main .panel-heading {
  background: #455e82;
  color: #EFF5FF; }

._panel-sec .panel-heading {
  background: #30c8c0;
  color: #F6FDFD; }

._panel-third .panel-heading {
  background: #f5f2ed;
  color: #423F3B; }

._alert-main {
  background: #455e82;
  border: 1px solid #374B67;
  color: #EFF5FF; }
  ._alert-main .close {
    color: #fff; }

._alert-sec {
  background: #30c8c0;
  border: 1px solid #29ABA4;
  color: #F6FDFD; }
  ._alert-sec .close {
    color: #000; }

._alert-sm {
  padding: 8px 10px;
  margin-bottom: 12px; }

._alert-sm.alert-dismissible {
  padding-right: 35px; }

._badge-main {
  background: #374B67; }

._loadingSpinner__holder {
  display: block;
  text-align: center;
  margin: 5px 0 15px 0; }
  ._loadingSpinner__holder ._loadingSpinner {
    font-size: 26px;
    display: block;
    margin: 0;
    margin-bottom: 2px;
    color: #3498db; }
  ._loadingSpinner__holder span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600; }

._content-card {
  background: #fff;
  padding: 15px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  border-radius: 0px;
  border: none; }
  ._content-card ._content__title {
    font-size: 19px;
    margin: 2px 0 22px 0;
    text-transform: uppercase;
    position: relative; }
    ._content-card ._content__title:after {
      content: "";
      position: absolute;
      left: -12px;
      top: -2px;
      bottom: -2px;
      border-left: 4px solid #29ABA4; }

._fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none; }

._navbar-main {
  margin-bottom: 30px;
  border: none;
  border-radius: 0;
  background: transparent; }
  ._navbar-main .container {
    background: #374B67;
    position: relative; }
    ._navbar-main .container:before, ._navbar-main .container:after {
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      left: -15px;
      top: 0;
      border-width: 0 15px 50px 0;
      border-color: transparent #374B67 transparent transparent;
      display: none; }
    ._navbar-main .container:after {
      left: auto;
      right: -15px;
      border-width: 50px 15px 0 0;
      border-color: #374B67 transparent transparent transparent; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      ._navbar-main .container:before, ._navbar-main .container:after {
        display: block; } }
    @media only screen and (min-width: 1200px) {
      ._navbar-main .container:before, ._navbar-main .container:after {
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    ._navbar-main {
      background: #374B67; } }
  ._navbar-main .navbar-brand, ._navbar-main .navbar-brand:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
    font-weight: 600;
    margin-right: 8px;
    transition: 0.12s ease-out; }
  ._navbar-main .navbar-brand:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0);
    color: #fff; }
  ._navbar-main .navbar-nav > li > a, ._navbar-main .navbar-nav > li > a:focus {
    color: #fff;
    transition: 0.15s ease-out; }
  ._navbar-main .navbar-nav > li > a:hover {
    color: #fff; }
  ._navbar-main .navbar-nav > li:nth-child(2n+1) > a:hover {
    box-shadow: inset 0 -50px 0 #3A9AD9; }
  ._navbar-main .navbar-nav > li:nth-child(2n) > a:hover {
    box-shadow: inset 0 -50px 0 #EB7260; }
  ._navbar-main .navbar-nav > li.dropdown:not(.open) > a {
    background: #29ABA4 !important;
    box-shadow: none !important; }
  ._navbar-main .navbar-nav > li.dropdown > a:hover, ._navbar-main .navbar-nav > .open > a {
    background: #30c8c0 !important;
    color: #fff !important;
    box-shadow: none !important; }
  ._navbar-main .navbar-nav > .active > a, ._navbar-main .navbar-nav > .active > a:focus, ._navbar-main .navbar-nav > .active > a:hover {
    color: #fff;
    font-weight: 600;
    background: inherit;
    box-shadow: none; }
  ._navbar-main .navbar-toggle, ._navbar-main .navbar-toggle:focus {
    border: none;
    background: none; }
  ._navbar-main .navbar-toggle:hover {
    background: #1D70A7; }
  ._navbar-main .navbar-toggle .icon-bar {
    background: #fff; }
  ._navbar-main .navbar-collapse, ._navbar-main .navbar-form {
    border-color: #1D70A7;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06); }

._wine-content-topbar, ._wine-content ._wc-search-results {
  background: linear-gradient(top, #fff, #f5f5f5);
  background: -webkit-linear-gradient(top, #fff, #f5f5f5);
  padding: 6px 8px;
  margin-bottom: 12px;
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
  @media only screen and (min-width: 568px) and (max-width: 767px) {
    ._wine-content-topbar ._wc-topbar-left, ._wine-content ._wc-search-results ._wc-topbar-left {
      margin-bottom: 6px; } }
  @media only screen and (max-width: 567px) {
    ._wine-content-topbar ._wc-topbar-left, ._wine-content ._wc-search-results ._wc-topbar-left {
      margin-bottom: 6px; } }
  ._wine-content-topbar ._wc-topbar-left span, ._wine-content ._wc-search-results ._wc-topbar-left span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #888;
    line-height: 14px; }
    ._wine-content-topbar ._wc-topbar-left span b, ._wine-content ._wc-search-results ._wc-topbar-left span b {
      font-size: 14px;
      background: #1ABC9C;
      padding: 1px 6px;
      color: #fff;
      border-radius: 3px; }
  ._wine-content-topbar .form-control, ._wine-content ._wc-search-results .form-control {
    height: 30px;
    padding: 4px 8px; }
  ._wine-content-topbar .input-group, ._wine-content ._wc-search-results .input-group {
    /*max-width: 300px;*/ }
  ._wine-content-topbar .form-group, ._wine-content ._wc-search-results .form-group {
    margin-bottom: 0 !important; }
  ._wine-content-topbar .btn, ._wine-content ._wc-search-results .btn {
    padding: 4px 12px; }
  ._wine-content-topbar ._paginationInfo, ._wine-content ._wc-search-results ._paginationInfo {
    font-size: 11px;
    margin-right: 5px; }
    ._wine-content-topbar ._paginationInfo b, ._wine-content ._wc-search-results ._paginationInfo b {
      font-weight: 600; }
  ._wine-content-topbar .pagination, ._wine-content ._wc-search-results .pagination {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-radius: 2px; }
    ._wine-content-topbar .pagination li, ._wine-content ._wc-search-results .pagination li {
      display: none; }
      ._wine-content-topbar .pagination li:nth-child(-n+2), ._wine-content ._wc-search-results .pagination li:nth-child(-n+2), ._wine-content-topbar .pagination li:nth-last-child(-n+2), ._wine-content ._wc-search-results .pagination li:nth-last-child(-n+2), ._wine-content-topbar .pagination li.active, ._wine-content ._wc-search-results .pagination li.active {
        display: inline; }
      ._wine-content-topbar .pagination li a, ._wine-content ._wc-search-results .pagination li a, ._wine-content-topbar .pagination li span, ._wine-content ._wc-search-results .pagination li span {
        padding: 4px 12px;
        color: #374B67; }

._wc-i-info-glob, ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-i-info {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee; }

._wc-i-info-glob:last-child, ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-i-info:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

._wine-content {
  width: 100%; }
  ._wine-content ._label-filter {
    font-size: 85%;
    background: #374B67;
    color: #fff;
    font-weight: 400;
    float: left;
    border-radius: 10px;
    padding: 3px 8px;
    margin-right: 10px;
    margin-bottom: 6px; }
    ._wine-content ._label-filter a {
      margin-left: 6px;
      color: #8ae3de;
      font-size: 105%; }
      ._wine-content ._label-filter a:hover {
        color: #dcf7f5; }
  ._wine-content ._wc-search-results {
    margin-top: -10px;
    display: block;
    padding: 3px 8px;
    font-size: 15px; }
    ._wine-content ._wc-search-results b {
      font-weight: 700; }
    ._wine-content ._wc-search-results .btn {
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 1px;
      padding: 1px 5px; }
  ._wine-content ._wc-item {
    width: 31%;
    height: auto;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 18px;
    border-radius: 2px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      ._wine-content ._wc-item, ._wine-content ._wc-item:nth-child(4n), ._wine-content ._wc-item:nth-child(3n) {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%; }
      ._wine-content ._wc-item:nth-child(2n) {
        margin-right: 0; } }
    @media only screen and (min-width: 568px) and (max-width: 767px) {
      ._wine-content ._wc-item, ._wine-content ._wc-item:nth-child(4n), ._wine-content ._wc-item:nth-child(3n) {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%; }
      ._wine-content ._wc-item:nth-child(2n) {
        margin-right: 0; } }
    @media only screen and (max-width: 567px) {
      ._wine-content ._wc-item, ._wine-content ._wc-item:nth-child(4n), ._wine-content ._wc-item:nth-child(3n) {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%; }
      ._wine-content ._wc-item:nth-child(2n) {
        margin-right: 0; } }
    ._wine-content ._wc-item ._wc-item-holder {
      background: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); }
      ._wine-content ._wc-item ._wc-item-holder:nth-child(3n) {
        margin-right: 0; }
      ._wine-content ._wc-item ._wc-item-holder:hover {
        /*transform: scale(1.08);*/ }
      ._wine-content ._wc-item ._wc-item-holder ._wc-i-top {
        background: #29ABA4;
        padding: 8px 9px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        transition: 0.08s ease-out; }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-i-top {
        background: #3498db; }
      ._wine-content ._wc-item ._wc-item-holder ._wc-i-top h2 {
        font-size: 16px;
        margin: 0;
        font-weight: 700;
        line-height: 20px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); }
      ._wine-content ._wc-item ._wc-item-holder ._wc-i-content {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        position: relative; }
        ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info {
          margin-bottom: 6px; }
          ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info ._wc-mi-block {
            width: 50%;
            padding: 6px 12px;
            padding-bottom: 6px;
            position: relative;
            transition: 0.08s ease-out; }
            ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info ._wc-mi-block:last-child:after {
              content: '';
              position: absolute;
              border-bottom: 1px solid #ddd;
              bottom: 0;
              left: -100%;
              right: 0px; }
            ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info ._wc-mi-block:last-child {
              padding-right: 0;
              padding-left: 15px; }
              ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info ._wc-mi-block:last-child:before {
                content: '';
                border-left: 1px solid #ddd;
                position: absolute;
                top: 0px;
                bottom: 0;
                left: 0px; }
            ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info ._wc-mi-block p {
              margin: 0;
              font-size: 12px;
              text-transform: uppercase;
              color: #666666; }
              ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-main-info ._wc-mi-block p b {
                display: block;
                font-weight: 400;
                color: #333; }
        ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder {
          padding: 4px 0px; }
          ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row {
            margin-bottom: 4px; }
            ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box {
              padding-left: 8px;
              padding-right: 8px;
              text-align: center; }
              ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box > div {
                padding: 6px 0;
                transition: 0.1s ease-out;
                border-radius: 2px;
                position: relative; }
                ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box > div ._wc-score__value {
                  font-size: 22px;
                  font-weight: 400;
                  color: #526f99;
                  transition: 0.08s ease-out;
                  line-height: 1;
                  margin-bottom: 3px; }
                  ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box > div ._wc-score__value small {
                    font-size: 80%; }
                ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box > div ._wc-score__info {
                  font-weight: 300;
                  color: #595959;
                  transition: 0.11s ease-out;
                  line-height: 1.2; }
              ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box._wc-score-max > div ._wc-score__value {
                color: #374B67;
                font-weight: 700; }
              ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-score-row ._wc-score-box._wc-score-max > div ._wc-score__info {
                color: #374B67;
                font-weight: 400; }
          ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-i-info ._info-title, ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-i-info ._wc-i-info-glob ._info-title, ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-info-holder ._wc-i-info ._wc-i-info ._info-title {
            font-weight: 600;
            color: #666;
            font-size: 90%;
            display: block;
            margin-bottom: 1px; }
        ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._info-expanded ._info-title {
          font-size: 100% !important; }
        ._wine-content ._wc-item ._wc-item-holder ._wc-i-content ._wc-i-actions {
          background: #f5f5f5;
          padding: 5px 7px; }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-main-info {
        background: #f6f6f6; }
        ._wine-content ._wc-item ._wc-item-holder:hover ._wc-main-info ._wine__w {
          background: none;
          box-shadow: inset 0px 0px 0px 2px #E9E0D6; }
        ._wine-content ._wc-item ._wc-item-holder:hover ._wc-main-info ._wine__r {
          background: none;
          box-shadow: inset 0px 0px 0px 2px #f6c2bb; }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score__value {
        color: #8ea4c3 !important; }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score__info {
        color: gray; }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score-max ._wc-score__value {
        color: #EB7260 !important;
        transform: scale(1.35); }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score-max ._wc-score__info {
        color: #EB7260 !important;
        margin-bottom: 0;
        transform: scale(1.35); }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score-box:first-child._wc-score-max ._wc-score__value, ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score-box:first-child._wc-score-max ._wc-score__info {
        margin-left: 2.2px; }
      ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score-box:last-child._wc-score-max ._wc-score__value, ._wine-content ._wc-item ._wc-item-holder:hover ._wc-score-row ._wc-score-box:last-child._wc-score-max ._wc-score__info {
        margin-left: -2.2px; }
  ._wine-content ._wc-item-active {
    position: absolute; }

._a__filterable:before {
  font-family: FontAwesome;
  content: "\f0b0";
  font-size: 9px;
  line-height: 1;
  padding: 3px 4px;
  position: absolute;
  border-radius: 50%;
  background: #374B67;
  color: #fff;
  top: -2px;
  right: -5px;
  z-index: 1;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.12s ease-out; }

._a__filterable:hover:before {
  opacity: 1;
  transform: scale(1); }

._wine__w, ._wine__r {
  clear: both;
  display: inline-block !important;
  position: relative;
  padding: 1px 5px;
  border-radius: 2px;
  transition: 0.08s ease-out; }

._wine__w {
  background: #E9E0D6; }

._wine__r {
  background: #f6c2bb; }

#uplAnalysisTbl__holder table thead th {
  white-space: nowrap; }

#uplAnalysisTbl__holder table tbody tr {
  cursor: pointer; }
  #uplAnalysisTbl__holder table tbody tr td {
    padding: 5px 8px; }

#azureResultsModal .modal-body h4 {
  margin-bottom: 15px;
  padding: 6px 10px;
  background: #f0eae3;
  float: left; }

#azureResultsModal .modal-body #chart__winePredictionResults {
  display: block;
  width: 100%;
  height: 250px; }

.animated, .animated {
  animation-duration: 0.8s !important; }

._api-doc-title {
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid #E9E0D6;
  transition: 0.15s ease-out; }
  ._api-doc-title:hover {
    box-shadow: inset 0 -35px 0 #f7f4f1;
    padding-left: 5px; }

/*# sourceMappingURL=app.css.map */
